.sidebar{
    flex: 3;
    height: calc(100vh - 50px); /*50 px is the height of  topbar*/
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 7px;
    border-radius: 20%;
    
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(4, 126, 247)
}
.sidebarWrapper{
    padding: 20px;
}
.sidebarList{
    padding: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 15px;
}
.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 15px ;
    font-weight: 500;
}
.sidebarHr{
    margin: 20px 0;

}
.sidebarFriedList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarFriendImg{
    width: 72px;
    height: 72px;
    border-radius: 40%;
    object-fit: fill;
    margin-right: 10px;
}